{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right mb-5">
  <div class="card " style="margin-top: 15px;">
    <h5 class="card-header" style="background-color: #6c757d; text-align: center; color: white;">About Me</h5>
    <div class="card-body">
      <p class="card-text">A passionate and articulate writer, brings depth and creativity to her blog. With a keen eye
        for detail and a love for storytelling, she captivates readers with engaging content. Bhavana's writing style
        reflects her curiosity, empathy, and a desire to inspire and connect with her audience.</p>
      <a href="{% url 'contact' %}" class="btn"
        style="background-color: #eb6864;border-radius: 0;width: 100%; color: white;">Contact</a>
    </div>
  </div>
</div>

{% endblock sidebar %}